.first-step {
  .first-blog {
    display: flex;
    justify-content: space-between;
    display: flex;
    padding: 12px 24px 12px 16px;
    align-items: center;
    background: #fcfcfc;
    margin: 20px 0px;
    .first-box {
      display: flex;
      width: 100%;
      background-color: #fcfcfc;
      span {
        margin-right: 10px;
        color: #080305;
        font-size: 18px;
      }
    }
  }
  .accardion-context-box {
    display: flex;
    flex-direction: column;
    h4 {
      text-align: start;
      margin-bottom: 10px;
    }
    .dates {
      display: flex;
      .dateType {
        width: 400px;
      }
    }
  }
  .mention {
    margin: 20px 0px;
    h4 {
      text-align: start;
    }
  }
}

@media (max-width: 476px) { 
  .modal{
    .modalTitle{
      .info{
        display: flex!important;
        .info-header{
          .selectType{
            width: 400px!important;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) { 
  .modal{
    .modalTitle{
      .info{
        display: flex;
        flex-direction: column;
        .dateType{
          max-width: 400px;
        }
        .info-header{
          .selectType{
            width: 400px!important;
          }
        }
      }
      .dateTime-head{
        display: flex;
      }
    }
  }
}