@mixin center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin active {
  background-color: #23a4dd;
  color: white;
  display: flex;
  width: 100%;
  padding: 6px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  &:hover {
    color: white;
  }
  span {
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 175%;
  }
}
@mixin link-item {
  color: black;
  display: flex;
  width: 100%;
  padding: 6px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  span {
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 175%;
  }
}
.menu {
  padding: 20px 20px;
  background-color: white;
  height: 100vh;
  .logoName {
    h1 {
      padding: 10px 15px;
      background-color: #fcfcfc;
      text-align: center;
    }
  }
  .controlPanel {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
  }
  .links {
    ul {
      li {
        padding: 5px 5px;
        border-radius: 5px;
        a {
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 175%;
        }
      }
    }
  }
}

.active2 {
  @include active();
}
.link-item {
  @include link-item();
  span {
    margin-left: 6px;
  }
}
